<% if @book.errors.any? %>
<div id="error_explanation">
  <h2>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <%- @book.errors.full_messages.each do |message| %>
  </h2>
    <ul>
      <li>
        <%= message %>
      </li>
    </ul>
  <% end %>
</div>
<% end %>




<h2>New Book</h2>
  <%= form_with model:@book, local:true do |f| %>
  <div class="field">
    <div >
      <label for="book-title">title</label>
      <input type="hidden">
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <div>
      <label for="book-body">body</label>
      <input type="hidden">
    </div>
    <div>
      <%= f.text_area :body %>
    </div>
  </div>
<div class="actions">
<%= f.submit 'Create book' %>
</div>

  <% end %>
